@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #050505;
    color: aliceblue;
    font-family: "Teko", sans-serif;
}

svg {
    width: 23rem;
}

header>nav>a {
    font-size: 2rem;
    text-decoration: none;
}

nav {
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
